html{
  font-size: 18px;
  line-height: 1.4;
}
.sitecontainer{
  width: 960px;
  margin: 0 auto;
}
body{
  font-family: Helvetica;
}
header{
  background-color: cadetblue;
  height:3rem;
  width:auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color:white;
  margin-bottom: 10rem;
}
.headerleft{
  display: flex;
  align-items: center;
}
.headerleft img{
max-height: 1.5rem;
margin-right:1rem;
margin-left: 2rem;
}
nav{
  display: flex;
  align-items: center;
}
nav p{
   margin-right:2rem;
}
header .sitecontainer{
  display: flex;
  justify-content: space-between;
}
.top{
  height:30rem;
  background-image: url(glasses-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}
.box{
  width:32rem;
  background-color: white;
  height: 5.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box span{
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.sitecontainerforbox{
  width:1032px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}
.gallery{
  height:8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.item1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.item1 img{
  width:3.5rem;
}
.item2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.item2 img{
  width: 5rem;
}
.item3{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 3rem;
  margin-right: 3rem;
}
.item3 img{
  width: 5rem;
}
.information{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}
.topic .title{
  background-color: cadetblue;
  font-weight: bold;
  padding-top: 0.5rem;
  padding-bottom:0.5rem;
  padding-left:1.25rem;
}
.title{
  margin-bottom: 1rem;
  width: 10rem;
}
.topic{
  width: 35%;
}
